---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="エネルギー・・・吸収・・・アリーナ | 呪術廻戦 エネアリ非公式ファンサイト"
>
  <>
    <h1>呪力ゼロ、拳のみ、勝者あり</h1>
  </>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
