---
import "@styles/animation.scss";
import Title from "@components/Title.astro";
---

<section class="contact" id="contact">
  <Title title="Contact" />

  <p class="text">お問い合わせフォームは準備中となります。</p>
</section>

<style lang="scss">
  .contact {
    padding: 50px 15px;
  }

  .text {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.7;
    text-shadow: 0 0 10px #222;
    animation: fade-in-bottom 0.7s 0s cubic-bezier(0.47, 0, 0.745, 0.715) both;

    @media screen and (width <= 768px) {
      margin-top: 10px;
      font-size: 1rem;
    }
  }
</style>
