---
import "@styles/animation.scss";
---

<header class="siteHeader">
  <div class="inner">
    <!-- TODO: ロゴ作成 -->
    <h1 class="siteTitle">
      <a href="/">エネアリ</a>
    </h1>
    <nav class="navi">
      <ul class="linkList" role="list">
        <li class="linkItem">
          <a href="#about" class="link">About</a>
        </li>
        <li class="linkItem">
          <a href="#contact" class="link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .siteHeader {
    position: sticky;
    top: 0;
    left: 0;
    background: url("../images/header-bg.png") no-repeat center top / 100% 100%;
    z-index: 100;
    animation: fade-in-top 1s 3.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  .inner {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // TODO: SPのmedia queryをmixinにする
    @media screen and (width <= 768px) {
      padding: 15px;
    }
  }

  .siteTitle {
    font-size: 2rem;

    @media screen and (width <= 768px) {
      font-size: 1.6rem;
    }
  }

  .linkList {
    display: flex;
    align-items: center;

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  .linkItem {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  .link {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }
</style>
