---
import { Image } from "astro:assets";
import energyArenaImage from "@images/energy-arena.jpg";
---

<section class="mv">
  <p class="jyuryoku0-kobushinomi-syosyaari">呪力ゼロ、拳のみ、勝者あり</p>
  <h1 class="eneari">エネルギー・・・吸収・・・アリーナ</h1>

  <Image
    src={energyArenaImage}
    alt="呪力ゼロ、拳のみ、勝者あり。エネルギー・・・吸収・・・アリーナ"
  />
</section>

<style lang="scss">
  // TODO: アニメーション実装
</style>
