---
import { Image } from "astro:assets";
import energyArenaImage from "@images/energy-arena.jpg";
---

<section class="mv">
  <p class="catch">呪力ゼロ、拳のみ、勝者あり</p>
  <h1 class="title">エネルギー・・・吸収・・・アリーナ</h1>

  <figure class="thumb">
    <Image
      src={energyArenaImage}
      alt="呪力ゼロ、拳のみ、勝者あり。エネルギー・・・吸収・・・アリーナ"
    />
  </figure>
</section>

<style lang="scss">
  // TODO: アニメーション実装
  .catch {
    font-size: 2.5rem;
    text-align: center;
  }

  .title {
    margin-top: 30px;
    font-size: 4rem;
    text-align: center;
  }

  .thumb {
    width: 50%;
    margin: 30px auto 0;
  }
</style>
