---
import { Image } from "astro:assets";
import "@styles/animation.scss";
import energyArenaImage from "@images/energy-arena.jpg";
---

<section class="mv">
  <p class="catch">呪力ゼロ、拳のみ、勝者あり</p>
  <h1 class="title">
    エネルギー・・・<br class="spInline" />吸収・・・<br
      class="spInline"
    />アリーナ
  </h1>

  <figure class="thumb">
    <Image
      src={energyArenaImage}
      alt="呪力ゼロ、拳のみ、勝者あり。エネルギー・・・吸収・・・アリーナ"
    />
  </figure>
</section>

<style lang="scss">
  .mv {
    padding: 50px 15px;
    overflow: hidden;
  }

  .catch {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0 0 10px #2e89e4;
    animation: focus-in-expand 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @media screen and (width <= 768px) {
      font-size: 1.6rem;
    }
  }

  .title {
    margin-top: 30px;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 10px #2e89e4;
    animation: focus-in-expand 1.2s 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;

    @media screen and (width <= 768px) {
      font-size: 2rem;
      line-height: 1.7;
    }
  }

  .thumb {
    width: 50%;
    margin: 30px auto 0;
    border: 1px solid rgb(255 255 255 / 40%);
    animation: puff-in-center 1s 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;

    @media screen and (width <= 768px) {
      width: 90%;
    }
  }
</style>
